@import "tailwindcss";
 

/* Custom scrollbar styles */
body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    scroll-behavior: smooth;
}

.bg-doodle-pattern {
    background-color: #171C24;
    background-image: url('/doodle-bg.png');
    background-repeat: repeat;
    background-size: 750px auto;
    background-attachment: fixed;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #171C24;
}
::-webkit-scrollbar-thumb {
    background: #252D3A;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #00C4CC;
}